/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include <dt-bindings/display/drm_mipi_dsi.h>

/ {
	compatible = "radxa,rock-5t";
};

&{/} {
	vcc_lcd_mipi1: vcc-lcd-mipi0 {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "vcc_lcd_mipi1";
		gpio = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&dsi1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	dsi0_panel: panel@0 {
		status = "okay";
		compatible = "panel-dsi-simple";
		reg = <0>;
		backlight = <&sgm37604_bl>;
		power-supply = <&vcc_lcd_mipi1>;
		// reset-gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_LOW>;
		// pinctrl-names = "default";
		// pinctrl-0 = <&dsi1_lcd_rst_gpio>;

		prepare-delay-ms = <120>;
		reset-delay-ms = <120>;
		init-delay-ms = <120>;
		enable-delay-ms = <100>;
		disable-delay-ms = <120>;
		unprepare-delay-ms = <120>;

		width-mm = <74>;
		height-mm = <133>;

		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_NO_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes = <4>;

		// panel-init-sequence = [
		// 	05 78 01 11
		// 	05 0A 01 29
		// ];

		// panel-exit-sequence = [
		// 	05 10 01 28
		// 	05 78 01 10
		// ];

		panel-init-sequence = [
			39 00 03 9f a5 a5
			05 78 01 11
			15 00 02 55 10
			39 00 03 f0 5a 5a
			15 00 02 73 94
			39 00 3d ea 00
						73 11 1b 23 2a 40 59 70 6e a1 86 92 9f ab b8 4d 59 65 7f 00
								73 11 1b 23 2a 40 59 70 6e a1 86 92 9f ab b8 4d 59 65 7f 00
								73 11 1b 23 2a 40 59 70 6e a1 86 92 9f ab b8 4d 59 65 7f
			39 00 3d eb 00
						73 11 1b 23 2a 40 59 70 6e a1 86 92 9f ab b8 4d 59 65 7f 00
						73 11 1b 23 2a 40 59 70 6e a1 86 92 9f ab b8 4d 59 65 7f 00
						73 11 1b 23 2a 40 59 70 6e a1 86 92 9f ab b8 4d 59 65 7f
			39 00 03 f0 a5 a5
			05 00 01 29
			39 00 03 9f 5a 5a
		];

		panel-exit-sequence = [
			05 00 01 28
			05 50 01 10
			39 00 03 f0 5a 5a
			15 00 02 73 90
			39 00 03 f0 a5 a5
			15 00 02 24 00
			39 00 03 9f 5a 5a
		];

		display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <157000000>;
				hactive = <1080>;
				hfront-porch = <115>;
				hback-porch = <13>;
				hsync-len = <3>;
				vactive = <2160>;
				vfront-porch = <10>;
				vback-porch = <10>;
				vsync-len = <2>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		port {
			mipi_panel_in: endpoint {
				remote-endpoint = <&dsi1_out_panel>;
			};
		};
	};
};

&dsi1_in {
	dsi1_in_vp3: endpoint {
		remote-endpoint = <&vp3_out_dsi1>;
	};
};

&dsi1_out {
	dsi1_out_panel: endpoint {
		remote-endpoint = <&mipi_panel_in>;
	};
};

&mipidcphy1 {
	// compatible = "rockchip,rk3588-mipi-dcphy2";
	status = "okay";
};

&vp3 {
	#address-cells = <1>;
	#size-cells = <0>;

	vp3_out_dsi1: endpoint@ROCKCHIP_VOP2_EP_MIPI1 {
		reg = <ROCKCHIP_VOP2_EP_MIPI1>;
		remote-endpoint = <&dsi1_in_vp3>;
	};
};

&i2c6 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6m0_xfer>;
	clock-frequency = <400000>;
	#address-cells = <1>;
	#size-cells = <0>;

	sec_ts: sec_ts@48 {
		status = "okay";
		compatible = "sec,sec_ts";
		reg = <0x48>;
		pinctrl-names = "default";
		pinctrl-0 = <&ts_irq>;
		sec,irq_gpio = <&gpio0 RK_PD3 IRQ_TYPE_LEVEL_HIGH>;
		sec,max_coords = <1080>, <2160>;
		touchscreen-inverted-x = <1>;
		touchscreen-inverted-y = <1>;
	};

	sgm37604_bl: backlight@36 {
		status = "okay";
		compatible = "sgmicro,sgm37604a";
		reg = <0x36>;
		sgmicro,led-channels = <0x07>;
		sgmicro,max-current = <0>;
		default-brightness-level = <48>;
		enable-gpios = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>;
	};
};

&pinctrl {
	dsi1-lcd {
		dsi1_lcd_rst_gpio: dsi0-lcd-rst-gpio {
			rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	ts {
		ts_irq: ts_irq {
			rockchip,pins =
			<0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>;//TP_INT_L
		};
	};
};
